    <aside class="sidebar">
        <div class="sidebar-container">
            <div class="sidebar-header">
                <div class="brand">
                    <div class="logo">
                        <img src="./assets/logo.png" alt="logo">
                    </div> 
                    Team 79 Crime 
                </div>
            </div>
            <nav class="menu">
                <ul class="sidebar-menu metismenu" id="sidebar-menu">
                    <li class="{dashboard_div}">
                        <a href="/dashboard">
                            <i class="fa fa-th-large"></i> Dashboards </a>
                    </li>
                    <li class="{models_div}">
                        <a href="models">
                            <i class="fa fa-area-chart"></i> Models </a>
                    </li>
                    <li class="{tables_div}">
                        <a href="/tables">
                            <i class="fa fa-table"></i> Tables </a>
                    </li>
                    <li class="{about_div}">
                        <a href="/about">
                            <i class="fa fa-pencil-square-o"></i> About Us</a>
                    </li>
                    <li class="{info_div}">
                        <a href="/info">
                            <i class="fa fa-sitemap"></i> Info </a>
                    </li>
                    <li class="logout_div">
                        <a href=/Logout>
                            <i class="fa fa-power-off icon"></i> Logout </a>
                    </li>
                </ul>
            </nav>
        </div>
        <footer class="sidebar-footer">
            <ul class="sidebar-menu metismenu" id="customize-menu">
                <li>
                    <ul>
                        <li class="customize">
                            <div class="customize-item">
                                <div class="row customize-header">
                                    <div class="col-4">
                                    </div>
                                    <div class="col-4">
                                        <label class="title">fixed</label>
                                    </div>
                                    <div class="col-4">
                                        <label class="title">static</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="title">Sidebar:</label>
                                    </div>
                                    <div class="col-4">
                                        <label>
                                            <input class="radio" type="radio" name="sidebarPosition" value="sidebar-fixed">
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="col-4">
                                        <label>
                                            <input class="radio" type="radio" name="sidebarPosition" value="">
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="title">Header:</label>
                                    </div>
                                    <div class="col-4">
                                        <label>
                                            <input class="radio" type="radio" name="headerPosition" value="header-fixed">
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="col-4">
                                        <label>
                                            <input class="radio" type="radio" name="headerPosition" value="">
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="title">Footer:</label>
                                    </div>
                                    <div class="col-4">
                                        <label>
                                            <input class="radio" type="radio" name="footerPosition" value="footer-fixed">
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="col-4">
                                        <label>
                                            <input class="radio" type="radio" name="footerPosition" value="">
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="customize-item">
                                <ul class="customize-colors">
                                    <li>
                                        <span class="color-item color-red" data-theme="red"></span>
                                    </li>
                                    <li>
                                        <span class="color-item color-orange" data-theme="orange"></span>
                                    </li>
                                    <li>
                                        <span class="color-item color-green active" data-theme=""></span>
                                    </li>
                                    <li>
                                        <span class="color-item color-seagreen" data-theme="seagreen"></span>
                                    </li>
                                    <li>
                                        <span class="color-item color-blue" data-theme="blue"></span>
                                    </li>
                                    <li>
                                        <span class="color-item color-purple" data-theme="purple"></span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <a href="">
                        <i class="fa fa-cog"></i> Customize </a>
                </li>
            </ul>
        </footer>
    </aside>
