@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,300&display=swap');

.app-container{
    width: 100%;
    height: auto; 
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.card{
    background-color: #F0F0F0;
    -webkit-box-shadow: 2px 3px 16px 0px rgba(0,0,0,0.75); -moz-box-shadow: 2px 3px 16px 0px rgba(0,0,0,0.75); box-shadow: 2px 3px 16px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
}


.risk-container{
    width: 50%;
    height: 500px;
    padding: 10px;
}
.risk-title{
    width: 100%;
    height: auto;
    margin: 0;
    margin-bottom: 20px; 
    color: rgb(21, 156, 156);
}
.risk-selectors{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: auto;
}

.risk-dropdowns{
    width: 30%;
    height: auto;
}

.risk-gauges{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 30px;
    max-height: 400px;
    overflow-y: auto;
}

.dash-dropdown{
    margin-bottom: 5px;
    color: black;
}

.Select-control{
    background-color: rgb(21, 156, 156);
}

.Select-placeholder{
    color: white;
}

.Select-value-label{
    color: white !important;

}

.sc-gqjmRU{
    color:  rgb(21, 156, 156) !important;
    font-size: 21px;
}

.needle-knob{
    r: 9 !important;
}
